body {
  font-family: "Courier New";
  height: 100vh;
  width: 100vw;
  background-color: #d9b28a;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: #f6f2d0;
  border-radius: 15px;
  width: 28vw;
  height: 55vw;
  max-width: 40.72vh;
  max-height: 80vh;
  min-width: 407.2px;
  min-height: 800px;
  display: flex;
  flex-direction: column;
}

.display {
  background-color: lightgrey;
  border-radius: 6px;
  height: calc(4 * 15pt);
  padding: 15pt;
  margin: 20pt;
  margin-top: 50pt;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.line {
  flex: 0 0 auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  font-size: 13pt;
  font-weight: 600;
}

.padding {
  min-width: 14pt;
  flex: 1;
  border: 2px solid green;
}


.input {
  border: 2px solid black;
}

.output {
  border: 2px solid red;
}

.output.overflow {
  width: 100%;
  text-align: right;
  
}

.buttonbox {
  flex: 1;
  background-color: #687f58;
  border-radius: 6px;
  margin: 20pt;
  display: flex;
  flex-direction: column-reverse;
}

.buttonRow {
  display: flex;
  justify-content: space-around;
  height:10%;
}


.buttonbox button {
  font-size: 15pt;
  margin: 6pt;
  border: 0;
  border-radius: 10px;
  color: #200e09;
  width: 15%;
  background-color: #d9b28a;
}

.button-row .store-var-btn,
.button-row .enter-btn {
  font-size: 12pt;
}

.footer {
  height: 56px;
  background-color: #687f58;
}

.variable-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.variable-btn .var-button-1 {
  font-size: 17pt;
}

.variable-btn .var-button-2 div {
  font-size: 10pt;
  font-style: italic;
}
